<div class="backgroundImg">
    <div class="col-md-12 pl-0 pr-0">
        <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="jumbotron bg-light col-md-10 ml-auto mr-auto mt-3 pt-5">
        <div style="margin-left: 10px; margin-right: 10px; margin-top: 10px">
            <table>
                <tr>
                    <td><b> Naziv organa: </b></td>
                    <td><input [(ngModel)]="nazivOrgana" type="text" /></td>
                </tr>
                <tr>
                    <td><b>Sediste organa: </b></td>
                    <td><input [(ngModel)]="sedisteOrgana" type="text" /></td>
                </tr>
                <tr>
                    <td><b>Broj predmeta: </b></td>
                    <td><input [(ngModel)]="broj" type="text" disabled/></td>
                </tr>
                <tr>
                    <td><b>Datum: </b></td>
                    <td><input [(ngModel)]="datum" type="text" /></td>
                </tr>
                <tr>
                    <td><b>Ime podnosioca: </b></td>
                    <td><input [(ngModel)]="ime" type="text" /></td>
                </tr>
                <tr>
                    <td><b>Prezime podnosioca: </b></td>
                    <td><input [(ngModel)]="prezime" type="text" /></td>
                </tr>
                <tr>
                    <td><b>Adresa: </b></td>
                    <td><input [(ngModel)]="ulica" type="text" placeholder="Ulica" /></td>,
                    <td><input [(ngModel)]="br" type="text" placeholder="Br." /></td>,
                    <td><input [(ngModel)]="grad" type="text" placeholder="Grad" /></td>
                    <td><input [(ngModel)]="postanskiBroj" type="text" placeholder="Postanski broj" /></td>
    
                </tr>
            </table>
            <h2>O B A V E S T E NJ E</h2>
            <h3>o stavljanju na uvid dokumenta koji sadrži traženu informaciju i o izradi kopije</h3>
            <p class="indent">
                Na osnovu člana 16. st. 1. Zakona o slobodnom pristupu informacijama od javnog značaja, postupajući
                po vašem zahtevu za slobodan pristup informacijama od
                <input [(ngModel)]="odDatum" type="text" /> god., kojim ste tražili uvid u dokument/e sa informacijama o / u vezi sa:    
            </p>
            <p class="indent">
                <textarea [(ngModel)]="opisInformacije" id="informacije"></textarea>
                <br>obaveštavamo vas da dana
                <input [(ngModel)]="danaDatum" type="text" />, u 
                <input [(ngModel)]="casova" type="text" /> casova, odnosno u vremenu od
                <input [(ngModel)]="odCasova" type="text" /> do <input [(ngModel)]="doCasova" type="text" />
                u prostorijama organa u <input [(ngModel)]="nazivUlice" type="text" placeholder="Ulica"/>, <input [(ngModel)]="brojUlice" type="text" placeholder="Br."/>
                kancelarija br. <input [(ngModel)]="brKancelarije" type="text" /> možete <b>izvršiti uvid</b> u dokument/e u
                kome je sadržana tražena informacija.    
            </p>
            <p class="indent">
                Tom prilikom, na vaš zahtev, može vam se izdati i kopija dokumenta sa traženom informacijom.
            </p>
            <p class="indent">
                Troškovi su utvrđeni Uredbom Vlade Republike Srbije („Sl. glasnik RS“, br. 8/06), i to: kopija
                strane A4 formata iznosi 3 dinara, A3 formata 6 dinara, CD 35 dinara, diskete 20 dinara, DVD 40
                dinara, audio-kaseta – 150 dinara, video-kaseta 300 dinara, pretvaranje jedne strane dokumenta iz
                fizičkog u elektronski oblik – 30 dinara.
            </p>
            <p class="indent">
                Iznos ukupnih troškova izrade kopije dokumenta po vašem zahtevu iznosi
                <input [(ngModel)]="iznos" type="text" /> dinara i uplaćuje se na žiro-račun Budžeta
                Republike Srbije br. 840-742328-843-30, s pozivom na broj 97 – oznaka šifre opštine/grada gde se
                nalazi organ vlasti (iz Pravilnika o uslovima i načinu vođenja računa – „Sl. glasnik RS“, 20/07...
                40/10).
            </p>
            <p class="indent">
                <b>Dostavljeno: </b><br>
                <b><i>1. Imenovanom</i></b><br>
                <b><i>2. Arhivi</i></b>  
            </p>
            <tr>
                <td>Potpis ovlascenog lica:</td>
                <td><input [(ngModel)]="potpisLica" type="text"/></td>
            </tr>
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="sendFile()">Save file</button>
        </div>        
    </div>
</div>
