<div id="homeDiv">
    <div class="col-md-12 pl-0 pr-0">
        <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="row col-md-12">
        <div class="jumbotron col-md-10 ml-auto mr-auto bg-light shadow mt-2 float-left pt-3">
            
        </div>
    </div>
</div>

<!--<a href="http://localhost:4200/add-response">Add resenje</a>
<br/>
<a href="http://localhost:4200/add-request">Add zahtev</a>
<br/>
<a href="http://localhost:4200/add-decision-appeal">Add zalba na odluku</a>
<br/>
<a href="http://localhost:4200/add-silence-appeal">Add zalba na cutanje</a>
<br/>
<a href="http://localhost:4200/add-notice">Add obavestenje</a>

<br/>
<br/>
<a href="http://localhost:8080/api/response/html/10">Get resenje</a><br/>
<a href="http://localhost:8080/api/request/html/0">Get zahtev</a><br/>
<a href="http://localhost:8080/api/decision-appeals/html/10">Get zalba na odluku</a><br/>
<a href="http://localhost:8080/api/silence-appeals/html/10">Get zalba na cutanje</a><br/>
<a href="http://localhost:8080/api/notice/html/10">Get obavestenje</a>-->