<a href="http://localhost:4200/add-response">Add resenje</a>
<br/>
<a href="http://localhost:4200/add-request">Add zahtev</a>
<br/>
<a href="http://localhost:4200/add-decision-appeal">Add zalba na odluku</a>
<br/>
<a href="http://localhost:4200/add-silence-appeal">Add zalba na cutanje</a>
<br/>
<a href="http://localhost:4200/add-notice">Add obavestenje</a>

<br/>
<br/>
<a href="http://localhost:8080/api/response/html/10">Get resenje</a><br/>
<a href="http://localhost:8080/api/request/html/0">Get zahtev</a><br/>
<a href="http://localhost:8080/api/decision-appeals/html/10">Get zalba na odluku</a><br/>
<a href="http://localhost:8080/api/silence-appeals/html/10">Get zalba na cutanje</a><br/>
<a href="http://localhost:8080/api/notice/html/10">Get obavestenje</a>
