textarea {
    width: 100%;
    height: 150px;
}
body {
    margin:100px;
}
p.indent {
    text-indent: 24px;
}
h3.headertekst {
  text-align: center;
}
h4.headertekst {
  text-align: center;
}
.center {
    text-align: center;
}
hr {
    border-top:2px dotted #000;
    margin-left:100px;
    margin-right:100px;
}

.veca {
    width: 100%;
}

.manja {
    width: 22%;
}

.error {
    color: red;
} 

.center1{
    margin-left: auto;
    margin-right: auto;
}