<div>
    <!--<div id="decision-appeal"></div>
    <div>
        <textarea [(ngModel)]="textArea"></textarea>
    </div>-->
    <div>
        <h4 class="headertekst">ZALBA PROTIV ODLUKE ORGANA VLASTI KOJOM JE <br><u>ODBIJEN ILI ODBACEN ZAHTEV</u> ZA
            PRISTUP INFORMACIJI</h4>
        <p><b>Povereniku za informacije od javnog znacaja i zastitu podataka o licnosti</b></p>
        <p>Adresa za postu:Beograd, Bulevar kralja aleksandra br.15</p>
        <h3 class="headertekst">ZALBA</h3>
        <div class="center">
            <input [(ngModel)]="ime" type="text" id="ime" placeholder="Ime" />,
            <input [(ngModel)]="prezime" type="text" id="prezime" placeholder="Prezime" />,
            <input [(ngModel)]="grad" type="text" placeholder="Grad"/>,
            <input [(ngModel)]="ulica" type="text" placeholder="Ulica"/>,
            <input [(ngModel)]="br" type="text" placeholder="Br."/>
            <hr>
            (Ime, prezime, odnosno naziv, adresa i sediste zalioca)
        </div>
        <p class="center"> protiv resenja-zakljucka</p>
        <div class="center">
            <input [(ngModel)]="nazivOrgana" type="text" id="nazivOrgana" placeholder="Naziv organa" />
            <hr>
            (Naziv organa koji je doneo odluku)
        </div>
        <p>Broj:
            <input [(ngModel)]="broj" type="text" id="broj" placeholder="Broj zalbe" />
            od
            <input [(ngModel)]="odDatum" type="text" id="odDatum" placeholder="Datum" />
        </p>
        <p class="indent">
            Navedenom odlukom organa vlasti (rešenjem, zaključkom, obaveštenjem u pisanoj formi sa
            elementima odluke) , suprotno zakonu, odbijen-odbačen je moj zahtev koji sam podneo/la-uputio/la
            dana <input [(ngModel)]="uputioDatum" type="text" id="uputioDatum" placeholder="Datum" /> godine i tako mi
            uskraćeno-onemogućeno ostvarivanje ustavnog i zakonskog
            prava na slobodan pristup informacijama od javnog značaja. Odluku pobijam u celosti, odnosno u
            delu kojim:<b><input [(ngModel)]="zbogCega" type="text" id="zbogCega" placeholder="Razlog" /></b>
            jer nije zasnovana na Zakonu o slobodnom pristupu informacijama od javnog značaja.
        </p>
        <p class="indent">Na osnovu iznetih razloga, predlažem da Poverenik uvaži moju žalbu, poništi odluka
            prvostepenog organa i omogući mi pristup traženoj/im informaciji/ma.</p>
        <p class="indent">Žalbu podnosim blagovremeno, u zakonskom roku utvrđenom u članu 22. st. 1. Zakona o slobodnom pristupu informacijama od javnog značaja.</p>
        <table style="text-align:left; margin-left: 20px;">
            <tr>
                <td>U: </td>
                <td>
                    <u><input [(ngModel)]="mesto" type="text" id="mesto" /></u>
                </td>
            </tr>
            <tr>
                <td>
                    Datuma:
                </td>
                <td>
                    <u><input [(ngModel)]="datum" type="text" id="datum"/></u>
                </td>
            </tr>
            <tr>
                <td>Ime:</td>
                <td><u><input type="text" value="{{ime}}" disabled></u></td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td><u><input type="text" value="{{prezime}}" disabled></u></td>
            </tr>
            <tr>
                <td>Adresa:</td>
                <td><u><input type="text" value="{{grad}}" disabled>
                    <input type="text" value="{{ulica}}" disabled>
                    <input type="text" value="{{br}}" disabled></u></td>
            </tr>
            <tr>
                <td>Drugi podaci:</td>
                <td><u><input [(ngModel)]="drugiPodaci" type="text" id="drugiPodaci"/></u></td>
            </tr>
            <tr>
                <td>Potpis:</td>
                <td><u><input [(ngModel)]="potpis" type="text" id="potpis"/></u></td>
            </tr>
        </table>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="sendFile()">Save file</button>
    </div>
</div>