textarea {
    width: 80%;
    height: 100px;
}

body {
    margin:250px;
  }
  p.indent {
    text-indent: 24px;
  }
  h2.headertekst {
    text-align: center;
  }
  .center {
    text-align: center;
  }
  hr {
    border-top:2px dotted #000;
    margin-left:100px;
    margin-right:100px;
  }