<app-navigation-bar></app-navigation-bar>
<div class="stanica">
    <form [formGroup]="naprednaPretraga" class="novaForma" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <mat-form-field>
                <label>Naziv organa</label>
                <input matInput formControlName="nazivOrgana" name="nazivOrgana" required class="input">
                <!-- <mat-error *ngIf=" naprednaPretraga.controls.nazivOrgana.hasError( 'required' ) " name="nazivOrganaReq" class="error">
                Unesite naziv organa
            </mat-error> -->
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <label>Sediste organa</label>
                <input matInput formControlName="sedisteOrgana" name="sedisteOrgana" required class="input">
                <!-- <mat-error *ngIf=" naprednaPretraga.controls.sedisteOrgana.hasError( 'required' ) " name="sedisteOrganaReq" class="error">
                Unesite sediste organa
            </mat-error> -->
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <label>Ime</label>
                <input matInput formControlName="ime" name="ime" required class="input">
                <!-- <mat-error *ngIf=" naprednaPretraga.controls.ime.hasError( 'required' ) " name="imeReq" class="error">
                Unesite ime
            </mat-error> -->
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <label>Prezime</label>
                <input matInput formControlName="prezime" name="prezime" required class="input">
                <!-- <mat-error *ngIf=" naprednaPretraga.controls.prezime.hasError( 'required' ) " name="prezimeReq" class="error">
                Unesite prezime
            </mat-error> -->
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <label>Datum</label>
                <input matInput formControlName="datum" name="datum" required class="input">
                <!-- <mat-error *ngIf=" naprednaPretraga.controls.datum.hasError( 'required' ) " name="datumReq" class="error">
                Unesite datum
            </mat-error> -->
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <label>Broj predmeta</label>
                <input matInput formControlName="brojPredmeta" name="brojPredmeta" required class="input">
                <!-- <mat-error *ngIf=" naprednaPretraga.controls.brojPredmeta.hasError( 'required' ) " name=" brojPredmetaReq" class="error">
                Unesite broj predmeta
            </mat-error> -->
            </mat-form-field>
        </div>


        <div class="form-group btnDiv">
            <button class="btn btn-primary" id="addOfferBtnnn">
                <!-- [disabled]="!saveChangesEnabled()" -->
                Pretrazi
            </button>
            <a routerLink="/home" class="btn btn-link">Cancel</a>
        </div>



    </form>

    <table class="tabela table table-bordered table-hover" border="1">
        <tr class="text-center">
            <td>
                Broj predmeta
            </td>
            <td>
                Ime podnosioca
            </td>
            <td>
                Prezime podnosioca
            </td>
            <td>
                Naziv organa
            </td>
            <td>
                Sediste organa
            </td>
            <td>
                Datum
            </td>
            <td>
                HTML
            </td>

        </tr>
        <tr *ngFor="let obavestenje of obavestenja" class="text-center">
            <td>
                {{obavestenje.broj_predmeta}}
            </td>
            <td>
                {{obavestenje.ime}}
            </td>
            <td>
                {{obavestenje.prezime}}
            </td>
            <td>
                {{obavestenje.nazivOrgana}}
            </td>
            <td>
                {{obavestenje.sedisteOrgana}}
            </td>
            <td>
                {{obavestenje.datum}}
            </td>
            <td>
                <a href="http://localhost:8080/api/notice/html/{{obavestenje.broj_predmeta}}" target="_blank">html</a><br>
                <a href="http://localhost:8080/api/notice/pdf/{{obavestenje.broj_predmeta}}">pdf</a><br>
            </td>
        </tr>

    </table>
</div>