<div class="backgroundImg">
    <div class="col-md-12 pl-0 pr-0">
        <app-navigation-bar></app-navigation-bar>
    </div>

    <div class="row col-md-12">
        <div class="jumbotron col-md-10 ml-auto mr-auto bg-light shadow mt-2 float-left pt-3">
            <div class="row col-md-12 pl-5 pr-0">
                <p *ngIf="isAdmin()" style="margin-right: 10px;">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Pretraga
                    </a>
                </p>
                <div *ngIf="isAdmin()" class="collapse" id="collapseExample" style="margin-bottom: 10px;">
                    <form [formGroup]="myForm" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col">
                                <input formControlName="broj" type="text" class="form-control" placeholder="Broj zahteva">
                            </div>
                            <div class="col">
                                <input formControlName="datum" type="text" class="form-control" placeholder="Datum">
                            </div>
                            <div class="col">
                                <input formControlName="status" type="text" class="form-control" placeholder="Status">
                            </div>
                            <div class="col">
                                <div class="form-group float-right mt-3">
                                    <button mat-raised-button color="primary" id="submit" type="submit"
                                        class="btn-block">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form [formGroup]="myForm1" (ngSubmit)="submit1()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Kljucne reci:</label>
                            <input formControlName="keywords" type="text" class="form-control"
                                placeholder="Kljucne reci odvojene razmakom">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Broj</th>
                            <th>Podnosioc</th>
                            <th>Poverenik</th>
                            <th>Datum</th>
                            <th>Status</th>
                            <th>HTML</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let a of responses">
                            <td><a href="http://localhost:8070/api/request/html/{{a.broj}}" target="_blank">{{a.broj}}</a></td>
                            <td>{{a.podnosiocUsername}}</td>
                            <td>{{a.poverenikIme}} {{a.poverenikPrezime}}</td>
                            <td>{{a.datum}}</td>
                            <td>{{a.status}}</td>
                            <td>
                                <a href="http://localhost:8070/api/response/html/{{a.broj}}" target="_blank">html</a><br>
                                <a href="http://localhost:8070/api/response/pdf/{{a.broj}}">pdf</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="responses.length === 0">
                    <h4>No responses in the database</h4>
                </div>
            </div>
        </div>
    </div>
</div>