<div class="backgroundImg">
    <div class="col-md-12 pl-0 pr-0">
        <app-navigation-bar></app-navigation-bar>
    </div>
    <div class="row col-md-12">
        <div class="jumbotron col-md-10 ml-auto mr-auto bg-light shadow mt-2 float-left pt-3">
            <div class="row col-md-12 pl-5 pr-0">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>Broj</th>
                            <th>Podnosioc</th>
                            <th>Grad</th>
                            <th>Datum</th>
                            <th>Organ vlasti</th>
                            <th>Razlog</th>
                            <th>Status</th>
                            <th>HTML</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let a of appeals">
                            <td><a href="http://localhost:8070/api/request/html/{{a.broj}}" target="_blank">{{a.broj}}</a></td>
                            <td>{{a.podnosiocIme}}  {{a.podnosiocPrezime}}</td>
                            <td>{{a.podnosiocGrad}}</td>
                            <td>{{a.datumSlanja}}</td>
                            <td>{{a.organVlasti}}</td>
                            <td>{{a.razlog}}</td>
                            <td>
                                <div *ngIf="a.status!='answered'">{{a.status}}</div>
                                <a *ngIf="a.status=='answered'" href="http://localhost:8070/api/explanation/html/{{a.broj}}" target="_blank">answered</a>
                            </td>
                            <td><a href="http://localhost:8070/api/silence-appeals/html/{{a.broj}}" target="_blank">file</a></td>
                            <td>
                                <button *ngIf="isUser() && a.status=='sent'" (click)="deleteAppeal(a)" mat-mini-fab color="warn"class="mr-2 mb-2"  style="outline: none">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <button *ngIf="isAdmin() && a.status=='sent'" (click)="requestExplanation(a)" mat-mini-fab color="warn"class="mr-2 mb-2"  style="outline: none">
                                    <mat-icon>message</mat-icon>
                                </button>
                                <button *ngIf="isAdmin() && a.status=='answered'" (click)="sendResponse(a)" mat-mini-fab color="warn"class="mr-2 mb-2"  style="outline: none">
                                    <mat-icon>message</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="appeals.length === 0">
                    <h4>No appeals in the database</h4>
                </div>
            </div>
        </div>
    </div>
</div>
