.novaForma {
    margin: auto;
    /* display: grid; */
    margin: 10px;
}

.form-control {
    width: 50%;
}

.row {
    margin: 10px;
    width: 100%;
    display: inline-block;
}

.dugme {
    margin: 2px;
}

.dugme1 {
    margin: 2px;
    background-color: crimson;
}

.prozor {
    margin: auto;
    width: 100%;
    display: flex;
}